/* Universal Styles */

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

/* Header */

#logo {
    margin: 13px 0px 0px 15px;
}

header #logo3 {
    text-align: center;
}

#logo3 {
    margin-left: 20px;
    font-size: 45px;
    font-weight: bold;
    color: black;
    vertical-align: middle;
}

#button {
    /* background-image: linear-gradient(90deg,#0271E1, #3a98fc); */
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    border: none;
    color: white;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    margin: 13px 90px 0px 0px;
    display: inline-block;
}

#button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    /* background-image: linear-gradient(90deg, #0271E1, #3a98fc); */
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    text-decoration: none;
}

nav a {
    color: black;
    text-decoration: none;
    padding-right: 75px;
    display: inline-flex;
    justify-content: space-around;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 105%;
    height: 80px;
    border-bottom: black 1px;
    margin: 0px 0px 0px -10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

@media only screen and (min-width: 350px) and (max-width: 885px) {
    .nav1 {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
   header nav {
       display: none;
   }
   #button {
    font-size: 10px;
    padding: 12px 20px;
    margin-top: 20px;
}
}

/* Main Section */

#main {
    padding: 50px 0px 50px 0px;
    margin: 50px -20px 20px -10px;
    background-color: #b3d4f7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    position: relative;
    z-index: 0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:25%;
    align-items: center;
}

#calendly {
    height: 630px;
    min-width: 400px;
    overflow: none;
    background-color: #ffffff00;
    z-index: -2;
}

#main p {
    color: black;
}

#video {
    padding: 20px 0px 80px 0px;
    margin: 0px auto;
    width: 50%;
    height: 50%;
    position: relative;
    max-width: 900px;
    display: block;
}

#wistia {
    padding: 0px;
    margin: -110px auto 0px auto;
    display: block;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    font-weight: bold;
    color: black;
    line-height: 60px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 0px;
    font-weight: bold;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    color: #666666;
    line-height: 30px;
}

#main p {
    margin: 10px 0px 0px 0px;
}

@media only screen and (max-width: 840px){
    #leverage {
        display: none;
    }
    #mainspring {
        display: none;
    }
    #nm {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .break {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    #video {
        width: 75%;
        height: 75%;
    }
    h1 {
        padding: 0px 10px;
    }
    p {
        padding: 0px 10px;
    }
}

/* Case Studies Section */

#images {
    display: grid;
    justify-content: center;
    margin: 20px auto 0px auto;
    width: 80%;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    opacity: 1;
}

#leverage {
    margin-top: 13px;
    width: 140px;
}

#mainspring {
    margin-top: 17px;
}

.images {
    width: 160px;
    margin: 20px auto 0px auto;
    visibility: 0;
}

#case-studies {
    margin: 0px 0px 0px 0px;
}

#advisors {
    padding-bottom: 20px;;
}

#button2 {
    margin: -60px auto 10px auto;
    display: block;
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    border: none;
    color: white;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    width: 8%;
}

#button2:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    text-decoration: none;
}

/* Product Section */

#works {
    color: black;
}

#mini-down {
    width: 20px;
    margin: 10px auto;
    display: block;
    justify-content: center;
}

#down {
    width: 40px;
    margin: 0px auto;
    display: block;
    justify-content: center;
}

#works {
    margin: 50px 0px 0px 0px;
}

#img {
    display: block;
    margin: 0px auto 20px auto;
    justify-content: center;
}

.stuff h1 {
    color: #474747;
    margin: 125px 0px 0px 0px;
}

#product a {
    margin: 20px auto 0px auto;
}

.stuff p {
    margin: 20px 0px 0px 0px;
    color: #666666;
    line-height: 40px;
}

#button3 {
    margin: 60px auto 10px auto;
    display: block;
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    border: none;
    color: white;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    width: 8%;
}

#result {
    margin: 150px 0px 0px 0px;
}


#button3:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    text-decoration: none;
}

/* Testimonial Section */

#testimonial-grid {
    display: grid;
    justify-content: center;
    margin: 60px auto 0px auto;
    width: 80%;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}

.names {
    margin: 20px auto 0px auto;
    padding: 0px 0px 0px 0px;
}

#testimonials {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px -50px 0px;
}

/* Scarcity Section*/

#scarcity {
    padding: 60px 0px 60px 0px;
    margin: 100px -10px 20px -10px;
    background-color: #b3d4f7;
    opacity: 1;
    /* border-top-left-radius:25%; */
    /* border-bottom-right-radius:25%; */
}

#scarcity h1 {
    padding: 0px 0px 20px 0px;
}

#scarcity p {
    margin: 0px 0px 50px 0px;
    color: black;
}

#scarcity a {
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    margin: 20px auto 20px auto ;
}

#scarcity a:hover {
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 630px) {
     #testimonial-grid p {
        font-size: 0.75rem
    }
}

/* Footer*/

footer a {
    color: black;
    text-decoration: none;
    padding-right: 75px;
    padding: 15px 50px 15px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-flex;
    justify-content: space-around;
    font-size: 14px;
}

footer nav {
    margin: -10px -20px 10px 0px;
}

nav a:hover {
    text-decoration: underline;
}

footer span {
    color: black;
    text-decoration: none;
    padding-right: 75px;
    padding: 15px 0px 15px 30px;
    margin: 0px 0px 0px 0px;
    display: inline-flex;
    justify-content: space-around;
    font-size: 14px;
}

footer img {
    padding: -20px 0px 40px 0px;
}

h3 {
    font-size: 14px;
    margin: 60px 0px 40px 40px;
    padding: 0px;
    font-weight: normal;
}