/* Universal Styles */

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

/* Header */

#logo {
    margin: 10px 0px 0px 30px;
}

header #logo3 {
    text-align: center;
}

#logo3 {
    margin-left: 20px;
    font-size: 45px;
    font-weight: bold;
    color: black;
    vertical-align: middle;
}

#button {
    /* background-image: linear-gradient(90deg, #ff1008, #e91710); */
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    border: none;
    color: white;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    margin: 13px 100px 0px 0px;
    display: inline-block;
}

#button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    /* background-image: linear-gradient(90deg, #0271E1, #3a98fc); */
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    /* background-image: linear-gradient(90deg, #e20800, #ff0800); */
    text-decoration: none;
}

nav a {
    color: black;
    text-decoration: none;
    padding-right: 100px;
    display: inline-flex;
    justify-content: space-around;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 105%;
    height: 80px;
    border-bottom: black 1px;
    margin: 0px 0px 0px -10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.nav-menu {
    background-color: white;
    color: black;
    display: flex;
    justify-content:center;
    width: 100%;
    align-items: left;
    padding-right: 40px;
}

.menu-nav {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
    line-height: 30px;
}

.container {
    align-items: left;
}

#menu-button {
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    margin: 13px 0px 0px 0px;
    display: block;
}

.menu {
    display: none;
    margin: 20px 60px;
}

.menu:hover {
    cursor: pointer;
    opacity: 75%;
}

#menu-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    text-decoration: none;
}

.menu-nav:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

@media only screen and (min-width: 350px) and (max-width: 1100px) {
    .nav1 {
        display: none;
    }
    #button {
        display: none;
    }
    #hamburger {
        display: block;
    }
    .menu {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    #button {
    font-size: 10px;
    padding: 12px 20px;
    margin-top: 24px;
}
}

/* Main Section */

#main {
    padding: 50px 0px 50px 0px;
    margin: 50px -20px 20px -10px;
    /* background-color: #b3d4f7; */
    background-color: #F9FAFA;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    position: relative;
    z-index: 0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:25%;
    align-items: center;
}

#vidBtn {
    width: 11%;
    opacity: 90%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    display: block;
}

#vidBtn:hover {
    opacity: 80%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#soundIcon {
    width: 12%;
    opacity: 100%;
    z-index: 10;
    position: absolute;
    top: 32%;
    left: 45%;
    right: 0;
    margin: 0px auto;
    display: block;
    animation: magnified 2s infinite;
}

@keyframes magnified{
    0%{
    transform: scale(1.1,1.1);
    }
    50%{
    transform: scale(1,1);
    }
    100%{
    transform: scale(1.1,1.1);
    }
    }

#soundIcon:hover {
    opacity: 80%;
    cursor: pointer;
}

#calendly {
    height: 630px;
    min-width: 400px;
    overflow: none;
    background-color: #ffffff00;
    z-index: -2;
}

#main p {
    color: black;
    font-size: 20px;
}

#video {
    padding: 0px 0px 0px 0px;
    margin: 20px auto 80px auto;
    width: 60%;
    height: 50%;
    position: relative;
    max-width: 900px;
    display: block;
    border: 1px black solid;
    border-right: 1px black solid;
}

#wistia {
    padding: 0px;
    margin: -110px auto 0px auto;
    display: block;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    font-weight: bold;
    color: black;
    line-height: 60px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 0px;
    font-weight: bold;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    color: #666666;
    line-height: 30px;
}

#main p {
    margin: 10px 0px 0px 0px;
}

@media only screen and (max-width: 3000px) {
    #soundIcon {
        left: 25%;
    }
}

@media only screen and (max-width: 2000px) {
    #soundIcon {
        left: 32%;
    }
}

@media only screen and (max-width: 1600px) {
    #soundIcon {
        left: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    #soundIcon {
        top: 36%;
        left: 46%;
    }
}

@media only screen and (max-width: 900px) {
    .break {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    #video {
        width: 75%;
        height: 75%;
    }
    h1 {
        padding: 0px 10px;
    }
    p {
        padding: 0px 10px;
    }
    #soundIcon {
        left: 55%;
        width: 18%;
    }
    #vidBtn {
        width: 18%;
    }
}

@media only screen and (max-width: 840px) {
    #leverage {
        display: none;
    }
    #mainspring {
        display: none;
    }
    #nm {
        display: none;
    }
    #vidBtn {
        top: 55%;
    }
}

@media only screen and (max-width: 750px) {
    #soundIcon {
        top: 39%;
        left: 54%;
    }
}

@media only screen and (max-width: 600px) {
    #vidBtn {
        top: 60%;
        width: 20%;
    }
    #soundIcon {
        top: 48%;
        left: 52%;
        width: 18%;
    }
}

@media only screen and (max-width: 550px) {
    #soundIcon {
        top: 52%;
    }
}

/* Case Studies Section */

#images {
    display: grid;
    justify-content: center;
    margin: 20px auto 0px auto;
    width: 80%;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    opacity: 1;
}

#leverage {
    margin-top: 13px;
    width: 140px;
}

#mainspring {
    margin-top: 17px;
}

#lpl {
    margin-top: 19px;
}

.fade-in-section {
    width: 160px;
    margin: 20px auto 0px auto;
    display: block;
}

#case-studies {
    margin: 0px 0px 0px 0px;
}

#advisors {
    padding-bottom: 20px;;
}

#button2 {
    margin: -60px auto 10px auto;
    display: block;
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    border: none;
    color: white;
    padding: 30px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    width: 160px;
}

#button2:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    text-decoration: none;
}

/* Product Section */

#works {
    color: black;
}

#mini-down {
    width: 20px;
    margin: 10px auto;
    display: block;
    justify-content: center;
}

#down {
    width: 40px;
    margin: 0px auto;
    display: block;
    justify-content: center;
}

#works {
    margin: 50px 0px 0px 0px;
}

#img {
    display: block;
    margin: 0px auto 20px auto;
    justify-content: center;
}

.stuff h1 {
    color: #474747;
    margin: 125px 0px 0px 0px;
}

#product a {
    margin: 20px auto 0px auto;
}

.stuff p {
    margin: 20px 0px 0px 0px;
    color: #666666;
    line-height: 40px;
}

#button3 {
    margin: 60px auto 10px auto;
    display: block;
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    border: none;
    color: white;
    padding: 30px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 4px;
    width: 160px;
}

#result {
    margin: 150px 0px 0px 0px;
}


#button3:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    text-decoration: none;
}

/* Testimonial Section */

#testimonial-grid {
    display: grid;
    justify-content: center;
    margin: 60px auto 0px auto;
    width: 80%;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}

.video-testimonial {
    width: 100%;
}

.names {
    margin: 20px auto 0px auto;
    padding: 0px 0px 0px 0px;
}

#testimonials {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px -50px 0px;
}

@media only screen and (max-width: 600px) {
    #testimonial-grid {
        display: block;
    }
}

/* Scarcity Section*/

#scarcity {
    padding: 60px 0px 60px 0px;
    margin: 100px -10px 20px -10px;
    /* background-color: #b3d4f7; */
    background-color: #F9FAFA;
    opacity: 1;
    /* border-top-left-radius:25%; */
    /* border-bottom-right-radius:25%; */
}

#scarcity h1 {
    padding: 0px 0px 20px 0px;
}

#scarcity p {
    margin: 0px 0px 50px 0px;
    color: black;
}

#scarcity a {
    background-image: linear-gradient(90deg, #e24800, #fa9052);
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    margin: 20px auto 20px auto ;
    width: 160px;
}

#scarcity a:hover {
    background-image: linear-gradient(90deg, #e24800, #fa9052); 
    /* background-image: linear-gradient(90deg, #0271E1, #429df8); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

/* Footer*/

footer a {
    color: black;
    text-decoration: none;
    padding-right: 75px;
    padding: 15px 50px 15px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-flex;
    justify-content: space-around;
    font-size: 14px;
}

footer nav {
    margin: -10px -20px 10px 0px;
}

nav a:hover {
    text-decoration: underline;
}

footer span {
    color: black;
    text-decoration: none;
    padding-right: 75px;
    padding: 15px 0px 15px 30px;
    margin: 0px 0px 0px 0px;
    display: inline-flex;
    justify-content: space-around;
    font-size: 14px;
}

footer img {
    padding: -20px 0px 40px 0px;
}

h3 {
    font-size: 14px;
    margin: 60px 0px 40px 40px;
    padding: 0px;
    font-weight: normal;
}